In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('crime_incidents_by_category.csv')
df

,Geography,Crime Category,Financial Year,Count
0,ZA,Contact Crimes,2011/2012,615935
1,ZA,Contact Crimes,2012/2013,608724
2,ZA,Contact Crimes,2013/2014,611574
3,ZA,Contact Crimes,2014/2015,616973
4,ZA,Contact Crimes,2015/2016,623223
...,...,...,...,...
835,WC,Aggravated Robberies,2022/2023,7150
836,WC,Contact Related Crimes,2022/2023,28595
837,WC,Property Related Crimes,2022/2023,66272
838,WC,Other Serious Crimes,2022/2023,96174
839,WC,Crimes Detected as a Result of Police Action,2022/2023,79106

In [6]:
df.isnull().sum()

Geography         0
Crime Category    0
Financial Year    0
Count             0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Geography       840 non-null    object
 1   Crime Category  840 non-null    object
 2   Financial Year  840 non-null    object
 3   Count           840 non-null    int64
dtypes: int64(1), object(3)
memory usage: 26.4+ KB